# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages for Data Scientists
- List of commonly used libraries for Data Science
- List of Data Science tools
- Some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia
1. JavaScript
1. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. NumPy
1. SciPy
1. ggplot

| Data Science Tools |
| --- |
| Jupyter Notebook (JupyterLab) |
| RStudio IDE |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Olga Agakhanova